# Ignore cache
__pycache__/
*.pyc
.pytest_cache/

# Ignore .DS_Store
.DS_Store

# Ignore virtual environment
venv/
env/

# Ignore logs
*.log

# Ignore migration
migrations/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore backups
*~
.#*

# Ignore environment variables
.env

.vscode/