alembic
click
email_validator
Flask
Flask_Caching
Flask_Limiter
Flask_Login
Flask_Migrate
flask_sqlalchemy
Flask_WTF
pytest
python-dotenv
SQLAlchemy
stripe
Werkzeug
WTForms
gunicorn
bcrypt
psycopg2-binary
twilio
