<footer class="py-5 bg-light" style="margin-top:100pt">
    <div class="container">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>International Imports</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">South Asia</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Southeast Asia</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">East Asia</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Middle East</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Africa</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>&nbsp;</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">North Americas</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">South Americas</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Scandinavia</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Eastern Europe</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">South Europe</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>About Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our Mission</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our Services</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Customer FAQ</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Become a Disributor</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Subscribe to Our Newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
  
          </div>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2 mt-3"></div>
          <button class="btn btn-primary w-100" type="button">Subscribe</button>
        </div>
        </form>
      </div>
 

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2023 Merienda Tiam, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </div>
</div>
  </footer>