{% extends 'base_accounts.html' %}

{% block title %}Terms and Condition{% endblock %}
{% block content %}
<p>At International Snackbar, we take your privacy and data protection seriously. By using our website, you agree to our
    collection, use, and disclosure of your personal information in accordance with the General Data Protection
    Regulation (GDPR).
</p>

<p>Our Privacy Policy, which can be found on our website, outlines the types of personal information we collect and how
    we use it. We will only collect and use your personal information where we have a lawful basis to do so, such as to
    provide our services or where we have obtained your consent.</p>


<p>We also take appropriate measures to secure your personal information and will only retain it for as long as
    necessary for the purposes for which it was collected.</p>

<p>Please take the time to read our Privacy Policy and if you have any questions or concerns, please contact us.</p>

<p>By using our website, you confirm that you accept our Privacy Policy and that you agree to the collection, use, and
    disclosure of your personal information as outlined in it.
</p>


{% endblock %}