{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="container row">

  <div class="col-md-6 col-lg-6">
    <div class="mt-5 mb-3">
      <h2 class="display-5">Checkout</h2>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="flashes text-danger">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

    </div>

</div>
{% endblock %}