{% extends 'base.html' %}

{% block title %} Update Product Information {% endblock %}

{% block content %}
<div class="container">
  <div class="py-5">
    <h2 class="display-5">Update Product Information</h2>

  </div>

  <div class="row g-5">

  </div>
  <div class="col-md-6 col-lg-6">
    <form method="post">
      <div class="col-12 mt-3 mb-3">
        <label for="name" class="form-label fw-light font-size-lg">Product Name</label>
        <input type="text" value="{{ request.form['name'] or product['name'] }}" class="form-control" id="name" name="name" placeholder="Product Name" required>
      </div>
      <div class="row g-3 mt-3 mb-3">
        <div class="col-sm-6">
          <label for="price" class="form-label fw-light font-size-lg">Price (€)</label>
          <input type="number" value="{{ request.form['price'] or product['price'] }}"  class="form-control" id="price" name="price" placeholder="0.99" value="" required>
        </div>
        <div class="col-sm-6 mt-3 mb-3">
          <label for="stock" class="form-label fw-light font-size-lg">Stock (Qty.)</label>
          <input type="number" value="{{ request.form['stock'] or product['stock'] }}"  class="form-control" id="stock" name="stock" placeholder="10" value="" required>
        </div>
      </div>
      <div class="col-12 mt-3 mb-3">
        <label for="image" class="form-label fw-light font-size-lg">Image URL (Direct File Upload not yet available )</label>
        <input type="text"  value="{{ request.form['image'] or product['image'] }}" class="form-control" id="image" name="image" placeholder="https://source.unsplash.com/random/300x300/?dessert">
      </div>
      <div class="col-12">
        <label for="address" class="form-label fw-light font-size-lg">Product Description</label>
        <textarea class="form-control" id="description" name="description" placeholder = "What are the key ingredients of the product and where is it from?" required>{{ request.form['description'] or product['description'] }}</textarea>
      </div>
      <hr class="my-4">
      <input type="submit" class="w-100 btn btn-outline-danger btn-lg " value="Save" />
    </form>

    <form action="{{ url_for('store.delete', id=product['id']) }}" class="mt-3" method="post">
      <input class="w-100 btn btn-danger btn-lg" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>

  </div>
</div>
</div>


  
  

 
{% endblock %}
