{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
  <div class="py-5">
    <h2 class="display-5">{{ title }}</h2>
  </div>
  <div class="col-md-6 col-lg-6">
    <form method="post">
      {{ form.csrf_token}}
      <div class="col-12 mt-3 mb-3">
        {{ form.confirm_password(class="form-control") }}
        {% for error in form.confirm_password.errors %}
        <p class="small text-danger">{% if error %}{{ form.confirm_password.label }}: {{ error }}{% endif %}</p>
        {% endfor %}
      </div>
      <div class="col-12 mt-3 mb-3">
        {{ form.new_password(class="form-control") }}
        {% for error in form.new_password.errors %}
        <p class="small text-danger">{% if error %}{{ form.new_password.label }}: {{ error }}{% endif %}</p>
        {% endfor %}
      </div>
      <div class="col-12 mt-3 mb-3">
        {{ form.new_password2(class="form-control") }}
        {% for error in form.new_password2.errors %}
        <p class="small text-danger">{% if error %}{{ form.new_password2.label }}: {{ error }}{% endif %}</p>
        {% endfor %}
      </div>


      <hr class="my-4">
      <input type="submit" class="w-100 btn btn-outline-danger btn-lg" value="Submit" />
    </form>

  </div>
</div>
</div>

{% endblock %}